<section class="flex flex-col items-center gap-3">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="48"
    height="48"
    viewBox="0 0 48 48"
    class="error-icon"
  >
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="4"
      d="m6 11l5-5l13 13L37 6l5 5l-13 13l13 13l-5 5l-13-13l-13 13l-5-5l13-13z"
      clip-rule="evenodd"
    />
  </svg>
  <div class="alert alert-danger mt-3">No se encontró el país</div>
  <a (click)="goBack()" class="btn btn-primary mt-3">Regresar</a>
</section>
