<section class="mt-5">
  <table class="tabble table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>ïcono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
      <tr>
        <td class="text-center">{{ index + 1 }}</td>
        <td class="text-center">
          {{ country.flag }}
        </td>
        <td class="text-center">
          <img src="{{ country.flagSvg }}" alt="Flag of {{ country.name }}" class="w-10 m-auto">
        </td>
        <td class="text-center">{{ country.name }}</td>
        <td class="text-center">{{ country.capital }}</td>
        <td>
          <span class="badge badge-secondary">{{ country.population | number }}</span>
        </td>
        <td class="text-center">
          <a class="link-primary cursor-pointer">Más información</a>
        </td>
      </tr>
      }

    </tbody>

  </table>

</section>